<h1>Create notes</h1>
<a href="/dashboard">Dashboard</a>
<a href="/">Homepage</a>

<form action="create" method="POST">
    <input type="text" name="logo" placeholder="logo">
    <input type="text" name="title" placeholder="Title">
    <input type="number" name="kmPerMonth" placeholder="kmPerMonth">
    <input type="number" name="price" placeholder="price">
    <input type="text" name="truckType" placeholder="trucktype">
    <textarea name="description" placeholder="description" id="" cols="30" rows="10"></textarea>
    <button type="submit">Create</button>
</form>