<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>

 

    
    <div class="flex flex-col gap-3 m-auto items-center p-10">
        <p>Plan: <%= prices.data[0].nickname %> </p>
        <p>Price: <%= prices.data[0].unit_amount %> </p>
        <p>Subscription: <%= prices.data[0].recurring.interval_count %> Month </p>

        <form action="/dashboard/view/subscribe" method="POST">
            <input type="hidden" name="priceId" value="<%= prices.data[0].id %>">
            <button class="btn btn-primary">Subscribe</button>
        </form>
        
          



    </div>




</body>