<!-- first section -->
<div class="hero min-h-screen bg-base-100 bg-[url('/rawImage/bg.jpg')]">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <a href="/contact" class="badge badge-primary badge-outline m-2">Contact Us</a>
            <h1 class="text-5xl font-bold">Regular Freight Contract Work</h1>
            <p class="py-6">For Hauliers : Find your Reliable Customers for Roundtrip work
                For Freight Forwarders : Find your Long-Term Contract Hauliers</p>
            <a href="/dashboard">
                <button class="btn btn-primary">Get Started</button>
            </a>
        </div>
    </div>
</div>


  <!-- section 2 -->
  <div class="max-w-6xl m-auto">
  <div class="flex flex-wrap flex-col md:flex-row m-3 md:m-20 p-5 border-2 border-black">
    <div class="md:w-4/5">
      <h2 class="font-bold text-black text-2xl"> Premium</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio sapiente numquam aliquam quidem rem unde neque sed dolores vitae, voluptates recusandae quam porro expedita qui esse! Vel odio perspiciatis excepturi?</p>
    </div>
    <div class="flex flex-col px-5 md:w-1/5">
      <span class="text-base font-medium pb-3">$ 0000 / 6 months</span>
      <button class="btn btn-primary"><a href="/dashboard">Buy</a></button>
    </div>
    
  </div>
</div>



<!-- third section 3 -->
<div class="w-full">
  <div id="item1" class="carousel-item w-full">
    <img src="/rawImage/1.png" class="w-full" />
  </div> 
  <div id="item3" class="carousel-item w-full">
    <img src="/rawImage/3.png" class="w-full" />
  </div> 
  <div id="item4" class="carousel-item w-full">
    <img src="/rawImage/4.png" class="w-full" />
  </div>
</div> 

<!-- second section 5 -->
<div class="md:flex py-5 my-5">


  <div class="card w-96 m-3 bg-primary text-base-100">
      <div class="card-body">
          <!-- <h2 class="card-title">Card title!</h2> -->
          <p>Пътна помощ за
              тежкотоварни средства
              в цяла Европа.
          </p>
      </div>
  </div>
  <div class="card w-96 m-3 bg-primary text-base-100">
      <div class="card-body">
          <!-- <h2 class="card-title">Card title!</h2> -->
          <p>Смяна на гуми в
              пътни условия</p>
      </div>
  </div>
  <div class="card w-96 m-3 bg-primary text-base-100">
      <div class="card-body">
          <!-- <h2 class="card-title">Card title!</h2> -->
          <p>Ремонт на камиони
              и ремаркета при
              авария на пътя</p>
      </div>
  </div>
  <div class="card w-96 m-3 bg-primary text-base-100">
      <div class="card-body">
          <!-- <h2 class="card-title">Card title!</h2> -->
          <p>Партньорски сервизи
              в Германия и Белгия
              с гъвкави решения</p>
      </div>
  </div>
  <div class="card w-96 m-3 bg-primary text-base-100">
      <div class="card-body">
          <!-- <h2 class="card-title">Card title!</h2> -->
          <p>Наем на пощенски
              кутии за транспортни
              фирми</p>
      </div>
  </div>
</div>


